/**
 * 指令：富文本编辑器
 * -----------------
 */
.ke-container {
    border-radius: 4px;
    .ke-toolbar {
        background-color: #fafafa;
        background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
        background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
        background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
        background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .ke-outline {
            &:not(.ke-selected):not(.ke-on) {
                border-color: transparent;
            }
        }
    }
    .ke-statusbar {
        background: #fafafa;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .ke-statusbar-right-icon {
        display: none;
    }
}
.ke-dialog {
    input[type="text"].ke-input-text {
        height: 23px;
    }
}
