@import "mixin";
/*
 * 导航栏
 * ------
 */

.backman-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 810;
    min-height: 100%;
    width: 230px;
    padding-top: 50px;
    @include prefixer(transition, transform 0.3s ease-in-out, width 0.3s ease-in-out);
}

@media (max-width: 767px) {
    .backman-sidebar {
        position: fixed;
        padding-bottom: 10px;
        padding-top: 100px;
        @include prefixer(transform, translate(-230px, 0));
    }
    .sidebar-open .backman-sidebar {
        @include prefixer(transform, translate(0, 0));
    }
}


/*
 * 导航栏菜单
 * ---------
 */

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    li {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
        white-space: nowrap;
        &.header {
            padding: 10px 25px 10px 15px;
            overflow: hidden;
            font-size: 12px;
            text-overflow: clip;
        }
        &.home {
            a {
                display: block;
                padding: 12px 5px 12px 15px;
                border-left: 3px solid;
                .fa {
                    width: 20px;
                }
            }
        }
    }
    li.treeview {
        > a.treeview-link,
        > a.treeview-title {
            display: block;
            padding: 12px 5px 12px 15px;
            .fa {
                width: 20px;
            }
            .fa-folder,
            .fa-folder-o {
                display: inline-block;
            }
            .fa-folder-open,
            .fa-folder-open-o {
                display: none;
            }
            .fa-angle-left {
                width: auto;
                height: auto;
                padding: 0;
                margin-right: 10px;
                line-height: 20px;
            }
            .fa-caret-right {
                display: inline-block;
            }
            .fa-chevron-right {
                display: none;
                text-align: center;
                font-size: 12px;
                vertical-align: middle;
            }
            &.cur {
                .fa-caret-right {
                    display: none;
                }
                .fa-chevron-right {
                    display: inline-block;
                }
            }
        }
        > ul.treeview-menu {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            padding-left: 10px;
            > li.treeview {
                margin: 0;
                overflow: hidden;
                @include prefixer(transition-duration, .3s);
                > a.treeview-link,
                > a.treeview-title {
                    position: relative;
                    padding: 5px 5px 5px 15px;
                    display: block;
                    font-size: 14px;
                    > .fa-folder-o,
                    > .fa-folder-open-o,
                    > .fa-caret-right {
                        width: 20px;
                        text-align: center;
                    }
                }
                ul.treeview-menu {
                    padding-left: 15px;
                }
            }
        }
        &.active {
            > a.treeview-title {
                .fa-folder,
                .fa-folder-o {
                    display: none;
                }
                .fa-folder-open,
                .fa-folder-open-o {
                    display: inline-block;
                }
                .fa-angle-left {
                    @include prefixer(transform, rotate(-90deg));
                }
            }
        }
    }
}