/*
 * Sidebar
 */

.backman-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 810;
    min-height: 100%;
    width: 230px;
    padding-top: 50px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .backman-sidebar {
        position: fixed;
        padding-bottom: 10px;
        padding-top: 100px;
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
    .sidebar-open .backman-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


/*
 * Sidebar menu 
 */

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
        overflow: visible;
    }
    > li {
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
        white-space: nowrap;
        &.header {
            padding: 10px 25px 10px 15px;
            overflow: hidden;
            font-size: 12px;
            text-overflow: clip;
        }
        &.active {
            > .treeview-menu {
                > li {
                    height: 30px;
                }
            }
            > a {
                .pull-right-container .fa-angle-left {
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }
        }
        > a {
            padding: 12px 5px 12px 15px;
            display: block;
            .fa {
                width: 20px;
            }
            .pull-right-container .fa-angle-left {
                width: auto;
                height: auto;
                padding: 0;
                margin-right: 10px;
            }
        }
    }
    .treeview-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 5px;
        .treeview-menu {
            padding-left: 20px;
        }
        > li {
            height: 0;
            margin: 0;
            overflow: hidden;
            -webkit-transition-duration: .3s;
            -moz-transition-duration: .3s;
            -ms-transition-duration: .3s;
            transition-duration: .3s;
            > a {
                position: relative;
                padding: 5px 5px 5px 15px;
                display: block;
                font-size: 14px;
                > .fa {
                    width: 20px;
                    text-align: center;
                }
            }
        }
    }
}


/*.sidebar .sidebar-menu{padding: 15px 0px;}
.sidebar .sidebar-menu>li+li{margin-top: 5px;}
.sidebar .sidebar-menu>li>a{display: block;height: 100%;position: relative;margin-left: 15px;}
.sidebar .sidebar-menu>li.active{background-color: #627c88;}
.sidebar .sidebar-menu>li.active>a{color:#fff;}
@media (min-width: 768px){
  .sidebar .sidebar-menu>li.active>a:after{content:"";position: absolute;right:0;top:50%;border:8px solid transparent;border-left: 8px solid #fff;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);}
}*/