/*
 * Skin: Blue
 * ----------
 */
.skin-blue {
    .backman-header {
        .navbar {
            background-color: #3c8dbc;
            .sidebar-toggle {
                color: #ffffff;
            }
            .sidebar-toggle:hover {
                color: #f6f6f6;
                background-color: #367fa9;
            }
        }
        .logo {
            background-color: #367fa9;
            color: #ffffff;
            border-bottom: 0 solid transparent;
            &:hover {
                background-color: #357ca5;
            }
        }
    }
    .wrapper,
    .backman-sidebar {
        background-color: #222d32;
    }
    .sidebar-menu {
        > li {
            &.header {
                color: #4b646f;
                background: #1a2226;
            }
            > a {
                color: #8aa4af;
                border-left: 3px solid transparent;
            }
            &:hover > a,
            &.active > a {
                color: #ffffff;
                background: #1e282c;
                border-left-color: #3c8dbc;
            }
            > .treeview-menu {
                margin: 0 1px;
                background: #2c3b41;
            }
        }
        a {
            color: #b8c7ce;
            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    .wrapper-content {
        .container-fluid {
            border-top-color: #3c8dbc
        }
    }
}