<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>后台管理中心</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="backman/backman.min.css">

        <body ng-app="app" ng-controller="backmanParent" class="skin-blue sidebar-mini">

            <div class="wrapper">
                <!--
                    Header
                -->
                <header class="backman-header">
                    <a class="logo" ui-sref="home">
                        <img src="backman/images/BACKMAN.png" />
                        <b>Backman</b>
                    </a>
                    <nav class="navbar">
                        <a class="sidebar-toggle" href="javascript:;" data-toggle="offcanvas" role="button"></a>
                        <div class="navbar-right">欢迎您！<strong>admin</strong> |
                            <a class="ui-btn" ng-href="">退出</a>
                        </div>
                    </nav>
                </header>

                <!--
                    Sidebar
                    mobi 端加 slidebar-open 到 wrapper 上打开菜单
                 -->
                <aside class="backman-sidebar">
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li>
                            <a ui-sref="home"><span>管理中心首页</span></a>
                        </li>
                        <!-- 保留 添加active样式子菜单会显示出来-->
                        <li class="treeview active" ng-repeat="lv1Item in navData">
                            <div>
                                <span ng-bind="lv1Item.text"></span>
                            </div>
                            <ul class="treeview-menu" ng-if="lv1Item.children.length">
                                <li ui-sref-active="active" ng-repeat="lv2Item in lv1Item.children">
                                    <a ui-sref="{{lv2Item.state}}" ng-bind="lv2Item.text"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <div class="wrapper-content">
                    <!-- 主内容区 -->
                    <section class="content" ui-view="content">
                        <!-- 视图 -->
                        <br>
                    </section>
                </div>
            </div>

            <script src="libs/jquery/jquery-2.1.4.min.js"></script>
            <script src="libs/bootstrap/js/bootstrap.min.js"></script>
            <script src="libs/loader/script.min.js"></script>
            <!-- 生产先不用angular-1.4.10.min.js版，方便调试 -->
            <script src="libs/angular/angular-1.4.10.js"></script>
            <script src="libs/angular/angular-ui-router.min.js"></script>
            <!-- Backman -->
            <script src="backman/backman.min.js"></script>
            <!-- app config -->
            <script src="app/router.js"></script>
            <script src="app/app.js"></script>
            <!-- controller -->

        </body>

</html>