<!DOCTYPE html>
<html ng-app="app" ng-controller="backmanFramework">

    <head>
        <meta charset="UTF-8">
        <title>后台管理中心</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="backman/backman.min.css">
    </head>

    <body class="backman skin-blue sidebar-mini">

        <div class="wrapper" ng-class="{'sidebar-open': sidebarOpen}">
            <!-- Header -->
            <header class="backman-header">
                <a class="logo" ui-sref="home">
                    <img src="backman/images/BACKMAN.png" />
                    <b>Backman</b>
                </a>
                <nav class="navbar">
                    <a class="sidebar-toggle" ng-click="act.toggleSidebar()" href="javascript:;"></a>
                    <div class="navbar-right">欢迎您！<strong ng-bind="adminName"></strong> |
                        <a class="btn-default" ng-href="">退出</a>
                    </div>
                </nav>
            </header>
            <!-- Sidebar -->
            <aside class="backman-sidebar" ng-controller="backmanNavigation">
                <ul bm:sidebar class="sidebar-menu" data-nav="navData">
                    <li class="header">MAIN NAVIGATION</li>
                    <!-- Home -->
                    <li class="home" ui-sref-active="cur">
                        <a ui-sref="home">
                            <i class="fa fa-home"></i>
                            <span>管理中心首页</span>
                        </a>
                    </li>
                    <!-- Level-1 -->
                    <li class="treeview" ng-repeat="itemLv1 in navData">
                        <!-- Level-1 title -->
                        <a class="treeview-title" href="javascript:;">
                            <i class="fa fa-folder"></i>
                            <i class="fa fa-folder-open"></i>
                            <span ng-bind="itemLv1.text"></span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <!-- Level-1 menu -->
                        <ul class="treeview-menu" ng-if="itemLv1.children.length">
                            <!-- Level-2 -->
                            <li class="treeview" ng-repeat="itemLv2 in itemLv1.children">
                                <!-- Level-2 link -->
                                <a class="treeview-link" ui-sref="{{itemLv2.state}}" ui-sref-active="cur" ng-if="!itemLv2.children.length">
                                    <i class="fa fa-caret-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                    <span ng-bind="itemLv2.text"></span>
                                </a>
                                <!-- Level-2 title -->
                                <a class="treeview-title" ng-if="itemLv2.children.length" href="javascript:;">
                                    <i class="fa fa-folder-o"></i>
                                    <i class="fa fa-folder-open-o"></i>
                                    <span ng-bind="itemLv2.text"></span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <!-- Level-2 menu -->
                                <ul class="treeview-menu" ng-if="itemLv2.children.length">
                                    <!-- Level-3 -->
                                    <li class="treeview" ng-repeat="itemLv3 in itemLv2.children">
                                        <!-- Level-3 link -->
                                        <a class="treeview-link" ui-sref="{{itemLv3.state}}" ui-sref-active="cur" ng-if="itemLv2.children.length">
                                            <i class="fa fa-caret-right"></i>
                                            <i class="fa fa-chevron-right"></i>
                                            <span ng-bind="itemLv3.text"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <div class="backman-content">
                <!-- 主内容区 -->
                <section class="container-fluid" ui-view="content">
                    <!-- 视图 -->
                    <br>
                </section>
            </div>
        </div>

        <script src="libs/jquery/jquery-2.1.4.min.js"></script>
        <script src="libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="libs/loader/script.min.js"></script>
        <!-- 生产先不用angular-1.4.10.min.js版，方便调试 -->
        <script src="libs/angular/angular-1.4.10.js"></script>
        <script src="libs/angular/angular-ui-router.min.js"></script> 
        <!-- Backman -->
        <script src="backman/backman.min.js"></script>
        <!-- KindEditor 富文本编辑器 -->
        <script src="libs/kindeditor/kindeditor-min.js"></script>
        <script src="libs/kindeditor/lang/zh_CN.js"></script>
        <!-- app config -->
        <script src="app/router.js"></script>
        <script src="app/app.js"></script>
        <script src="app/js/services.js"></script>
        <script src="app/js/directives.js"></script>
        <script src="app/js/filters.js"></script>

    </body>

</html>